<div class="body">
    <div class="login">
      <mat-card>
        <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-error *ngIf="Msg">
            <p>{{Msg}}</p>
          </mat-error>

            <img src="./assets/img/logo.png" width="80%">
            <h2>Inicio de sesión</h2>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" autofocus="off" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>
                 Debes ingresar un correo valido
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off"  formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>
                 Debes ingresar una contraseña
                </mat-error>
              </mat-form-field>
              <br>
              <mat-spinner *ngIf="loading" class="spinner" diameter="40"></mat-spinner>
            <button type="submit" mat-raised-button class="ancho boton" color="accent" [disabled]="loginForm.invalid">Iniciar sesión </button>
          </form>
            <br>
            <mat-divider></mat-divider>
            <br>
            <button mat-raised-button color="red" (click)="loginWithGoogle()" style="margin: 10px">Google  <mat-icon matSuffix>login</mat-icon> </button>

            <button mat-raised-button color="blue" (click)="loginWithFacebook()" style="margin: 10px">Facebook <mat-icon matSuffix>login</mat-icon> </button>

             <!--<div class="inline-buttons">
              <button type="button" (click)="loginWithFB()"  style="margin: 10px" mat-fab color="primary"><i class="fab fa-facebook"></i></button>

            </div>-->
            <br>

      </mat-card-content>
    </mat-card>
    <div class="form-group mt-3">
      <p>
        ¿Aún no tienes cuenta? <a [routerLink]="['/web/register']"> ¡Regístrate Ahora! </a>
      </p>
  </div>
    </div>
</div>
