<div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">
  <h1 mat-dialog-title>Editar Post</h1>
  <div mat-dialog-content>
    <form [formGroup]="editPost" (ngSubmit)="save()">
          <mat-form-field>
              <input matInput formControlName="title"  type="text" placeholder="Titulo" value="{{postEdit?.title.rendered}}">
          </mat-form-field>

          <mat-form-field>
              <input matInput formControlName="excerpt"  type="text" placeholder="Resumen" value="{{postEdit?.excerpt.rendered}}">
          </mat-form-field>
          <angular-editor formControlName="content" (input)="postEdit?.content.rendered"> </angular-editor>
          <div *ngIf="editPost.controls.content.errors && editPost.controls.content.touched" class="error">El contenido es requerido (Min 5 palabras).</div>
          <div id="htmlDiv" style="display:none;" class="html" [innerHTML]="postEdit?.content.rendered"></div>
        </form>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="close()">Cancelar</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
  </div>