<div class="container" color=#00000>
  <mat-toolbar>
      <span style="margin-left: 50%;">Personas</span>
  </mat-toolbar>
</div> 

<div class="card-container">
  <mat-card class="example-card">
      <mat-card-content>
        <table mat-table [dataSource]="dataSource">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
   <!-- Columna ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Columna Nombre -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Columna Apellido -->
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>

  <!-- Columna Cédula -->
  <ng-container matColumnDef="natID">
    <th mat-header-cell *matHeaderCellDef> Cédula </th>
    <td mat-cell *matCellDef="let element"> {{element.natID}} </td>
  </ng-container>

  <!-- Columna Fecha de nacimiento -->
  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
    <td mat-cell *matCellDef="let element"> {{element.birthdate | date}} </td>
  </ng-container>

  <!--  Columna Ciudad -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Ciudad </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

   <!--  Columna Departamento -->
   <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef> Departamento </th>
    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
  </ng-container>

  <!--  Columna País -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> País </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>


  <!--  Columna Código Postal -->
  <ng-container matColumnDef="postalcode">
    <th mat-header-cell *matHeaderCellDef> Código Postal </th>
    <td mat-cell *matCellDef="let element"> {{element.postalcode}} </td>
  </ng-container>


   <!--  Columna Profesión -->
   <ng-container matColumnDef="career">
    <th mat-header-cell *matHeaderCellDef> Profesión </th>
    <td mat-cell *matCellDef="let element"> {{element.career}} </td>
  </ng-container>

  <!--  Columna Habilidad -->
  <ng-container matColumnDef="skill">
    <th mat-header-cell *matHeaderCellDef> Habilidad </th>
    <td mat-cell *matCellDef="let element"> {{element.skill}} </td>
  </ng-container>

  <!--  Columna Detalles -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Detalles </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
          <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>


    <!--  Columna Actualizar -->
    <ng-container matColumnDef="Actualizar">
      <th mat-header-cell *matHeaderCellDef> Actualizar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
            <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

    <!--  Columna Eliminar -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
            <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
        
        
      </mat-card-content>
    </mat-card>

</div>