<ngx-loading-bar [fixed]="false" color="#126E82" height="4px" [includeSpinner]="false" > </ngx-loading-bar>
<mat-toolbar>
  <button [routerLink]="['/web/posts']"  mat-icon-button class="back-button">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <span class="spancentered">{{postDetail?.title.rendered}}</span>
</mat-toolbar>

<div class="container">
  <div class="card-holder">
    <mat-grid-list cols="1" rowHeight="fit" gutterSize="1px">
        <mat-card class="card mat-elevation-z3">
        <mat-card-header>
          <div mat-card-avatar class="header-image" style="background-image: url('{{postDetail?._embedded.author[0].avatar_urls[96]}}');"></div>
          <mat-card-title>{{postDetail?._embedded.author[0].name}}</mat-card-title>
          <mat-card-subtitle>{{postDetail?.date_gmt| date }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="postDetail?._embedded['wp:featuredmedia']"
          [src]="postDetail?._embedded['wp:featuredmedia']['0'].source_url" >
        <mat-card-content>
          <div [innerHTML]="postDetail?.content.rendered"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-list>
  </div>
</div>

<div class="container">
  <div class="card-holder">
    <mat-grid-list cols="1" rowHeight="fit" gutterSize="1px">
        <mat-card class="card mat-elevation-z3" *ngFor="let comment of comments">
        <mat-card-header>
        <div mat-card-avatar class="header-image" style="background-image: url('{{comment?.author_avatar_urls[24]}}');"></div>
          <mat-card-title >{{comment?.author_name}}</mat-card-title>
       <mat-card-subtitle>{{comment?.date_gmt| date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div [innerHTML]="comment?.content.rendered"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-list>
  </div>
</div>


