

  <mat-toolbar>
      <span class="span">Perfil</span>
  </mat-toolbar>

  <div class="grid-container"> 

  
  <mat-grid-list [cols]="1 "rowHeight = "400px" (window:resize)="onResize($event)">
    <mat-grid-tile>
    <mat-card class="dashboard-card">
      <form [formGroup]="profileForm" novalidate>
      <mat-card-header>
        <mat-card-title>
          Profile
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expandir</button>
            <button mat-menu-item>Remover</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
      
            <div class="mainContainer">
      
     <!-- Campo de nombre del usuario -->

              <mat-form-field class="mid-width" appearance="fill" [floatLabel]="floatLabelControl.value">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ej. Pepito" formControlName="name">{{profiles.name}}
              </mat-form-field>
      
      <!-- Campo de apellido del usuario -->
      <mat-form-field class="mid-width" appearance="fill" [floatLabel]="floatLabelControl.value">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Ej." formControlName="lastname">
      </mat-form-field>
      
      <!-- Campo de cédula del usuario -->
      <mat-form-field class="mid-width" appearance="fill" [floatLabel]="floatLabelControl.value">
        <mat-label>Cédula</mat-label>
        <input matInput #natIdCard maxlength="13" placeholder="Ej. 44785210" type="number" formControlName="natIdCard">
      </mat-form-field>

            </div>

            <div class="mainContainer">

<!-- Campo de Fecha de nacimiento del usuario -->

    <mat-form-field class="mid-width" appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput formControlName="DoB" [matDatepicker]="DateofBirth" class="form-control">
      <mat-datepicker-toggle matSuffix [for]="DateofBirth"></mat-datepicker-toggle>
      <mat-datepicker touchUi #DateofBirth ></mat-datepicker>
    </mat-form-field>


    <!-- Campo de Profesión -->

  <mat-form-field class="mid-width" appearance="fill" [floatLabel]="floatLabelControl.value">
    <mat-label>Profesión</mat-label>
    <input matInput placeholder="Ej. Abogado" formControlName="career">
  </mat-form-field>

<!-- Campo de Habilidad -->
  <mat-form-field class="mid-width" appearance="fill"
  [floatLabel]="floatLabelControl.value">
<mat-select formControlName="skill_Id">
  <mat-option>-- Sin seleccionar --</mat-option>
  <mat-option value="option">Option</mat-option>
</mat-select>
<mat-label><mat-icon>pen</mat-icon>Habilidad</mat-label>
</mat-form-field>
  </div>

   <div class="mainContainer">
  <!-- Campo de País -->
 <mat-form-field class="mid-width" appearance="fill" [floatLabel]="floatLabelControl.value">
  <mat-label>País</mat-label>
  <input matInput placeholder="Ej. Perez" formControlName="country">
</mat-form-field>

<!-- Campo de departamento -->

<mat-form-field class="mid-width" appearance="fill"
        [floatLabel]="floatLabelControl.value">
      <mat-select [(ngModel)]="department"  formControlName="department" (selectionChange)="deparmentChangeAction(department)" >
        <mat-option value="0">-- Sin seleccionar --</mat-option>
        <mat-option value="{{department.region}}" *ngFor="let department of departments">{{department.region}}</mat-option>
      </mat-select>
      <mat-label><mat-icon>face</mat-icon> Departamento</mat-label>
    </mat-form-field>

<!-- Campo de ciudad -->
<mat-form-field class="mid-width" appearance="fill"
[floatLabel]="floatLabelControl.value">
<mat-select name="city" formControlName="city">
<mat-option >-- Sin seleccionar --</mat-option>
<mat-option value="{{city}}" *ngFor="let city of cities">{{city.city}}</mat-option>
</mat-select>
<mat-label><mat-icon>book</mat-icon> Municipio</mat-label>
</mat-form-field>
</div>

      </mat-card-content>
      </form>
    </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Comentario
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expandir</button>
            <button mat-menu-item>Remover</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>
        <mat-form-field class="full-width" appearance="fill">
          <!-- Campo de Descripción -->
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder="Ej. Empresario desde hace 12 años..."></textarea>
        </mat-form-field>
      
        </div>
      
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>
 </mat-grid-list>