.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.inline-buttons {
  display: inline-block;
  text-align: center !important; 
  margin-right: 5%;
}


.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-card-content {
  text-align: center;
  flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-height: 100%;
   justify-content: center;
   align-items: stretch;
}

mat-card {
  display: flex;
  flex-direction: column;
}

span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.full-width {
  width: 100%;
}

.mid-width {
  width: 90%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.mainContainer > * {
  flex: 1;
  margin-right: 15px;
}