@media only screen and (max-width: 600px) {
  .mainItems {
    grid-template-columns: auto;
  }
}

span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.photo {
  height: fit-content;
}
  
  .uni .logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  }

  .uni .texto{
    text-align: center;
  }
