@media screen and (min-width: 40em) {
  .card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    max-width: calc(25% - 1em);
  }
}


@media screen and (min-width: 52em) {
  .card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.spancentered {
  text-align: center;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-holder {
  border-radius: 10px;
  padding: 1em;
  align-items: center;
  color: lightgray;
}

.card {
  flex: 0 1 calc(25% - 1em);
  box-sizing: border-box;
  margin: 1rem .25em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.2s ease-in-out;
  transform: translateY(-10px);
}

.login-button{
  position: relative;
  right: 1%;
}

.add-button{
  position: relative;
  right: 0%;
}
.header-image {
  background-size: cover;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 0px;
}

mat-card-subtitle {
  font-size: 15px;
}

mat-card-title {
  color: rgb(26, 27, 26);
  font-size: 20px;
}
