
<div class="container" color=#00000>
    <mat-toolbar>
        <span style="margin-left: 50%;">Perfil</span>
    </mat-toolbar>
</div> 


<div class="card-container">
    <mat-card class="form-card">
        <mat-card-content>
                 <form [formGroup]="profile">
                <br>
                <br>
                    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Simple placeholder">
                     </mat-form-field>
            
                    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
                      <mat-label>Apellido</mat-label>
                      <input matInput placeholder="Simple placeholder">
                    </mat-form-field>
            
                    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
                        <mat-label>Cédula</mat-label>
                        <input matInput placeholder="Simple placeholder">
                      </mat-form-field>
            
                      <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input required matInput placeholder="Simple placeholder">
                      </mat-form-field>
            
                      <mat-form-field appearance="fill"
                      [hideRequiredMarker]="hideRequiredControl.value"
                      [floatLabel]="floatLabelControl.value">
                    <mat-select required>
                      <mat-option>-- Sin seleccionar --</mat-option>
                      <mat-option value="option">Option</mat-option>
                    </mat-select>
                    <mat-label><mat-icon>book</mat-icon> Ciudad</mat-label>
                  </mat-form-field>
                
                  <mat-form-field appearance="fill"
                  [hideRequiredMarker]="hideRequiredControl.value"
                  [floatLabel]="floatLabelControl.value">
                <mat-select required>
                  <mat-option>-- Sin seleccionar --</mat-option>
                  <mat-option value="option">Option</mat-option>
                </mat-select>
                <mat-label><mat-icon>book</mat-icon> Departamento</mat-label>
              </mat-form-field>
            
                      <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
                        <mat-label>País</mat-label>
                        <input matInput placeholder="Simple placeholder">
                      </mat-form-field>
            
                      <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
                        <mat-label>Código Postal</mat-label>
                        <input matInput placeholder="Simple placeholder">
                      </mat-form-field>
            
                      <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
                        <mat-label>Profesión</mat-label>
                        <input matInput placeholder="Simple placeholder">
                      </mat-form-field>
            
                    <mat-form-field appearance="fill"
                        [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
                      <mat-select >
                        <mat-option>-- Ninguna --</mat-option>
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                      <mat-label><mat-icon>book</mat-icon> Habilidad</mat-label>
                    </mat-form-field>

                    <mat-form-field class="detail" appearance="fill">
                      <mat-label>Descripción</mat-label>
                      <textarea matInput placeholder="Ej. Empresario desde hace 12 años..."></textarea>
                    </mat-form-field>

                  </form>
          
        </mat-card-content>
      </mat-card>
  
  </div>