<div class="body"> 
    <div class="login"> 
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <img src="./assets/img/user.png" width="35%">
            <h1>Inicio de sesión</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" autofocus="on" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off"  formControlName="password" [type]="hide ? 'password' : 'text'"> 
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <br>
              <mat-spinner *ngIf="loading" class="spinner" diameter="40"></mat-spinner>
            <button type="submit" mat-raised-button class="ancho boton" color="accent" [disabled]="loginForm.invalid">Iniciar sesión</button>
            <br>
            <div class="form-group mt-3">
                <br>
                <p>
                  ¿Aún no tienes cuenta? <a [routerLink]="['/register']"> ¡Regístrate Ahora! </a>
                </p>
            </div>
            <div class="inline-buttons">
              <button type="button" (click)="loginWithGoogle()"  style="margin: 10px" mat-fab color="warn"><i class="fab fa-google"></i></button>
              <button type="button" (click)="loginWithFB()"  style="margin: 10px" mat-fab color="primary"><i class="fab fa-facebook"></i></button>

            </div>
            <br>

        </form>
        <div *ngIf="isLoggedin===true">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" [value]="socialUser.firstName" readonly >
          </div>          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" [value]="socialUser.lastName" readonly >
          </div>          <div class="form-group">
            <label for="email2">Email</label>
            <input type="text" class="form-control" id="email" [value]="socialUser.email" readonly >
          </div>
    </div>
</div>