<div class="body">
    <div class="login">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div *ngIf="Msg" class="text-danger text-left errorMsg pt-3">
            <p>{{Msg}}</p>
          </div>
            <img src="./assets/img/user.png" width="35%">
            <h1>Inicio de sesión</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" autofocus="on" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off"  formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <br>
              <mat-spinner *ngIf="loading" class="spinner" diameter="40"></mat-spinner>
            <button type="submit" mat-raised-button class="ancho boton" color="accent" [disabled]="loginForm.invalid">Iniciar sesión</button>
            <br>
            <div class="form-group mt-3">
                <br>
                <p>
                  ¿Aún no tienes cuenta? <a [routerLink]="['/register']"> ¡Regístrate Ahora! </a>
                </p>
            </div>
            <!--<div class="inline-buttons">
              <button type="button" (click)="loginWithGoogle()"  style="margin: 10px" mat-fab color="warn"><i class="fab fa-google"></i></button>
              <button type="button" (click)="loginWithFB()"  style="margin: 10px" mat-fab color="primary"><i class="fab fa-facebook"></i></button>

            </div>-->
            <br>

        </form>
    </div>
</div>
