.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 10px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.mat-sidenav {
  width: 220px;
  display: flex;
  align-items: flex-start;
  
}

.protoolbar{
  color: black;
  background-color: #f5f5f5;
  display: flex;
  height: 15vh;
}

.avatar {
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.username{
margin-top: 15px;
margin-left: 15px;
font-size: 20px;
}

/* 
.example-spacer {
  flex: 1 1 auto;
}

.list-container {
  width: auto;
  padding-top: 0.5px;
  border-right: 0.5px solid;
  border-color: #ddd;
  text-align: center;
}

.list-container .mat-list-item {
  border: 1px solid;
  border-right: 0px;
  border-color: #ddd;
  margin-top: -1px;
  height: 50px;  
  background-position: center;
} */


/* mat-toolbar {
    background: #1976d2;
    color: white;
  }
  
  mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
  }
  
  .mat-sidenav {
    width: 220px;
  }
  
  button.menu-button {
    color: inherit;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  } */