<div class="body"> 
    <div class="login"> 
        <form [formGroup]="loginForm" (ngSubmit)="signin()">
            <img src="./assets/img/user.png" width="35%">
            <h1>Inicio de sesión</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" autofocus="on" autocomplete="off" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off"  formControlName="pass" [type]="hide ? 'password' : 'text'"> 
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <br>
              <mat-spinner *ngIf="loading" class="spinner" diameter="40"></mat-spinner>
            <br>
            <button type="submit" mat-raised-button class="ancho boton" color="accent" [disabled]="loginForm.invalid">Iniciar sesión</button>
            <br>
            <br>

        </form>
    </div>
</div>