<div class="body">
  <div class="register">
    <div class="card-header text-center">
      <p *ngIf="Msg" class="text-danger text-left">{{Msg}}</p>
    </div>
    <mat-card>
      <mat-card-content>
      <form [formGroup]= "registerForm" (ngSubmit)="register()">
        <mat-error *ngIf="Msg">
          <p>{{Msg}}</p>
        </mat-error>

        <img src="./assets/img/logo.png" width="80%">
          <h2>Registro de usuario</h2>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" autofocus="off" autocomplete="off" formControlName="name">
            <mat-icon matSuffix>face</mat-icon>
            <mat-error>
              Debes ingresar un nombre
             </mat-error>
        </mat-form-field>
          <mat-form-field class="ancho" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" autofocus="off" autocomplete="off" formControlName="email">
              <mat-icon matSuffix>email</mat-icon>
              <mat-error>
                Debes ingresar un correo valido
               </mat-error>
          </mat-form-field>

          <mat-form-field class="ancho" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput autocomplete="off"  formControlName="password" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error>
                Debes ingresar una contraseña
               </mat-error>
          </mat-form-field>
            <br>
            <mat-spinner *ngIf="loading" class="spinner" diameter="40"></mat-spinner>
          <br>
          <button type="submit" mat-raised-button class="ancho boton" color="accent" [disabled]="registerForm.invalid">Registrarse</button>
          <br>
        </form>
        </mat-card-content>
      </mat-card>
          <div class="form-group mt-3">
              <p>
                ¿Ya tienes cuenta? <a [routerLink]="['/login']"> ¡Inicia sesión! </a>
              </p>
            </div>
  </div>
</div>
